<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
	"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
	"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="hibernate.connection.password">aA123456</property>
		<property name="hibernate.connection.url">jdbc:mysql://192.168.12.204/emsc</property>
		<property name="hibernate.connection.username">root</property>
		<property name="hibernate.dialect">org.hibernate.dialect.MySQL5InnoDBDialect</property>
		<property name="jdbc.batch_size">20</property>
		<property name="connection.autocommit">true</property>

		<!-- 显示sql语句 -->
		<property name="show_sql">true</property>
		<property name="connection.useUnicode">true</property>
		<property name="connection.characterEncoding">UTF-8</property>

		<!-- 缓存设置 -->
<!-- 		<property name="cache.provider_configuration_file_resource_path">/ehcache.xml</property> -->
<!-- 		<property name="hibernate.cache.region.factory_class">org.hibernate.cache.ehcache.EhCacheRegionFactory</property> -->
<!-- 		<property name="cache.use_query_cache">true</property> -->
	</session-factory>
</hibernate-configuration>
