 
<div class="pull-right">
	<a href="#/create" class="btn btn-default" title="Create"><span class="glyphicon glyphicon-plus"></span></a>
</div>
<div class="page-header">
	<h3>Users</h3>
</div>
<hr />
<li ng-repeat="user in users | filter:query | orderBy:orderProp"  >

	<div class="pull-right">
	   <a href="#/users/{{user.userId}}"  class="btn btn-xs btn-default" title="edit">
	   <span class="glyphicon glyphicon-pencil"></span></a>
	</div>
	<h4>userId: {{user.userId}}</h4>
	<p>userName:<a href="#/users/{{user.userId}}">{{user.userName}}</a>   Age:{{user.age}}</p>
<hr />
</li>

<hr />